/* PokemonCard styles */

.pokemon-card-wrapper {
    display: inline-block;
    margin: 10px;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #33186B;
    
}
.pokemon-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}
.pokemon-card img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}
.pokemon-card .btn-primary {
    background-color: #711DB0;
    border-color: #711DB0;
    border-radius: 20px;
    color: white;
    /* Adding border-radius for roundness */
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.pokemon-card .btn-primary:hover {
    background-color: #596FB7;
    border-color: #596FB7;
}

.pokemon-card .card-body {
    padding: 15px;
}

.pokemon-card .card-footer {
    padding: 10px 15px;
    border-top: 1px solid #ccc;
}